<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{821,1844},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1569},{87,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{821,1658},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1290},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1290},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1569},{87,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,381},{87,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1290},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1379},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,195},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b/1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1193},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1096},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1096},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b/1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,1},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1386}</string>
                <key>spriteSourceSize</key>
                <string>{640,1386}</string>
                <key>textureRect</key>
                <string>{{1,594},{640,1386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{910,1844},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1662},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{914,1658},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1379},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g/0011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1383},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g/0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1759},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,482},{87,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1383},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g/0110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1383},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g/0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{998,195},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g/1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1193},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1096},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1096},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g/1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{998,1},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,894}</string>
                <key>spriteSourceSize</key>
                <string>{591,894}</string>
                <key>textureRect</key>
                <string>{{1,1},{591,894}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{643,594},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,4}</string>
                <key>spriteSourceSize</key>
                <string>{311,4}</string>
                <key>textureRect</key>
                <string>{{1117,1},{311,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1099,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{914,1751},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1856},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1007,1658},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1472},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/0011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1472},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{732,1662},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{986,381},{87,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1476},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/0110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1476},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,288},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r/1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1286},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1096},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1193},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r/1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{897,98},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{999,1844},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{732,1759},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{821,1751},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1476},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/0011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{934,1565},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{732,1856},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{986,470},{87,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1565},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/0110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1569},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{998,288},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y/1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1031,1286},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1193},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{837,1193},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y/1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{998,98},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1144,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a295f6fdea7aadc59e0d3d2b1ca05f42:7a661a0f2fa6cefc3ec4d70cad08d893:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
