<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1633},{87,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1455},{87,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1544},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1269},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1358},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1544},{87,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{744,885},{87,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1362},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1451},{91,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{801,594},{91,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0111_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,792},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1265},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{744,974},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,978},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1071},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1075},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,598},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1111_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,695},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ann_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,75}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{744,598},{37,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ann_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,75}</string>
                <key>spriteSourceSize</key>
                <string>{37,75}</string>
                <key>textureRect</key>
                <string>{{744,675},{37,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1386}</string>
                <key>spriteSourceSize</key>
                <string>{640,1386}</string>
                <key>textureRect</key>
                <string>{{1,594},{640,1386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gezi1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{740,1168},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gezi1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,1172},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gezi1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{744,792},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gezi1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{783,695},{95,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gezi1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{643,885},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,894}</string>
                <key>spriteSourceSize</key>
                <string>{591,894}</string>
                <key>textureRect</key>
                <string>{{1,1},{591,894}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{833,1544},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jm_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,2}</string>
                <key>spriteSourceSize</key>
                <string>{156,2}</string>
                <key>textureRect</key>
                <string>{{643,594},{156,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jm_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{783,598},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{744,752},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,88}</string>
                <key>spriteSourceSize</key>
                <string>{266,88}</string>
                <key>textureRect</key>
                <string>{{736,1637},{266,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{896,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:557b09f2a0f5252aef70550bf19fe981:566df36954017e965f0cc2009704a222:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
